<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,600i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <div class ="mainContainer">
        <div class ="headerContainer">
            <img src="./aseets/icons/bell.png" alt="Bell">
            <span>Test</span>
            <img src="./aseets/icons/settings-outline.png" alt="Setting">
        </div>
        <div class="contentContainer">
            <div class="mainInfoContainer"></div>
                <div class="mainImageContainerOuter">
                    <div class="mainImageContainerInnerOuter">
                        <div class="mainImageContainerInner">
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="distanceContainer">
                    <span>236</span>
                    <span>Miles</span>
                </div>
            <div class="nameContainer">
                <span>Jane</span>
                <span>Dowson</span>
            </div>

            <div class="fullInfoContainer">
                <div class="fullInfoContent">
                    <img src="./aseets/icons/email.png" alt="Email">
                    <span>linda_fernandes@mail.com
                    </span>
                </div>
                <div class="fullInfoContent">
                    <img src="./aseets/icons/gift.png" alt="Gift">
                    <span>November 14,1990
                    </span>
                </div>
                <div class="fullInfoContent">
                    <img src="./aseets/icons/account.png" alt="Account">
                    <span>Female
                    </span>
                </div>
            </div>
        </div>
        <div class ="footerContainer">
            <img src="./aseets/icons/account.png" alt="Account">
            <img src="./aseets/icons/account.png" alt="Account">
            <div class="active">
                <img src="./aseets/icons/arrow.png" alt="Account">
            </div>
            <img src="./aseets/icons/account.png" alt="Account">
            <img src="./aseets/icons/account.png" alt="Account">
        </div>
    </div>
</body>
</html>